<section id="contact" itemscope itemtype="https://schema.org/ContactPage">
    <div class="container" [ngClass]="{'fade': hasBeenSubmited}">
        <div class="left-side">
            <div class="title">
                <h1 i18n="nav@@contact">Contact</h1>
            </div>
            <div class="top-container">
                <div class="picture"></div>
                <div class="info">
                    <p class="name" *ngIf="name"><span itemprop="name">Cynthia Chen</span></p>
                    <p class="email" *ngIf="email"><fa-icon [icon]="faEnvelope" class="icon" title="Email"></fa-icon><a  href="mailto:{{ email }}" itemprop="email">cynthiachen202304@gmail.com</a></p>
                    <p class="phone" *ngIf="phone"><fa-icon [icon]="faPhone" class="icon" title="Phone"></fa-icon><span itemprop="telephone">+61451165754</span></p>
                    <p class="location" *ngIf="location"><fa-icon [icon]="faMapMarkerAlt" class="icon" title="City"></fa-icon><span itemprop="city">East Perth, West Australia, Australia</span></p>
                </div>
            </div>

        </div>
        <div class="right-side"></div>
    </div>
    <img loading="lazy" height="705" src="./assets/template/contact/cynthia.png" class="illustration" alt="illustration" itemprop="avatar">
    <div class="half-circle"></div>
</section>
